:root {
    /* - Orange: hsl(26, 100%, 55%) */
    --clr-primary-100: hsl(26, 100%, 55%);
    /* - Pale orange: hsl(25, 100%, 94%) */
    --clr-primary--200: hsl(25, 100%, 94%);
    /* - Very dark blue: hsl(220, 13%, 13%) */
    --clr-neutral-100: hsl(220, 13%, 13%);
    /* - Dark grayish blue: hsl(219, 9%, 45%) */
    --clr-neutral-200: hsl(219, 9%, 45%, .5);
    /* - Grayish blue: hsl(220, 14%, 75%) */
    --clr-neutral-300: hsl(220, 14%, 75%);
    /* - Light grayish blue: hsl(223, 64%, 98%) */
    --clr-neutral-300: hsl(223, 64%, 98%);

    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-lightboxBG: hsla(0, 0%, 0%, 0.75);

    --fw-400: 400;
    --fw-700: 700;

    --fs-16: 16px;
}

/* - Mobile: 375px
- Desktop: 1440px
- Font size (paragraph): 16px
 */
html,
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.productTitle {
    color: var(--clr-primary-100);
    font-size: var(--fs-16);
    font-weight: 700;
}

p {
    font-size: var(--fs-16);
    color: var(--clr-neutral-100);
}

h1,
.product-discount,
.product-discount-price,
.product-actual-price,
.cart-add-btn,
input[type=number],
.cart-btn {
    font-weight: 700;
}

.cart-add-btn {
    border: 0;
    color: var(--clr-primary-100);
    font-size: 24px;
}

input[type=number] {
    border: 0;
    width: 5em;
    text-align: center;
    -moz-appearance: textfield;
}

/* // get rid of arrow in the number input  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-btn {
    background-color: var(--clr-primary-100);
    color: var(--clr-neutral-300);
    padding: 1rem 3rem;
    margin-left: 1rem;
    border: 4px solid var(--clr-primary-100);
}

.cart-btn img {
    /* font-size: 13px; */
    float: left;
    padding-right: 1rem;
    filter: brightness(3);
}

.product-discount-price {
    font-size: 24px;
}

.discount {
    display: flex;
    align-items: center;
}

.product-discount {
    padding-left: 2rem;
    color: var(--clr-primary-100);
}

.product-actual-price {
    text-decoration: line-through;
    color: var(--clr-neutral-200);
}

h1,
main>p,
.product-actual-price {
    padding-bottom: 2rem;

}

/* nav  */
.navbar-brand {
    padding-right: 2rem;
}

.navbar-collapse {
    align-items: baseline;
}

.nav-item {
    margin-right: 1rem;
    padding-bottom: 1rem;
    border-bottom: 4px solid transparent;
}


/* // hover state  */
.nav-item:hover {
    color: var(--clr-neutral-300);
    font-weight: 700;
    border-bottom: 4px solid var(--clr-primary-100);
}

.cart-btn:hover {
    border: 4px solid var(--clr-primary-100);
    background-color: var(--clr-neutral-white);
    color: var(--clr-neutral-100);
}

.cart-add-btn:hover {
    color: var(--clr-neutral-100);
}

.cart-btn:hover img {
    filter: invert(1);
}

footer a {
    text-decoration: none;
    color: var(--clr-neutral-100);
}

footer a:hover {
    text-decoration: underline;
}

/* // cart area layout desktop */
.innercontainer {
    gap: 4em;
    padding: 4em;
}

.image {
    width: 50%;
}

.pitch {
    width: 50%;
    padding: 4em 0 4em 4em;
    align-self: center;
}


/* // cart items  */
.dropdown-menu {
    position: absolute;
    right: 0;
    border: 1px solid white;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6)
}

.cart-list-items {
    padding: 1rem;
}

.cart-list-items li {
    display: flex;
}

.cart-list-items div:nth-child(2) {
    min-width: 10em;
    display: flex;
    flex-direction: column;
}


.cart-list-items li img {
    margin: auto;
    max-width: 100px;
    margin-right: 2rem;
}

.checkout {
    background-color: var(--clr-primary-100);
    border: 4px solid var(--clr-primary-100);
    padding: .5rem 2rem;
    display: block;
    margin: auto;
    width: 80%;
}